.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.magical-input {
  border: none;
  color: transparent;
  cursor: pointer;
  font-size: 0;
  outline: none;
  position: relative;
  width: 200px;
}

.magical-input:before {
  content: 'Choose file';
  background-color: #e0e0e0;
  border-radius: 5px;
  color: #444;
  display: inline-block;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

.magical-input:hover:before {
  background-color: #b3b3b3;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.magical-input:focus:before {
  background-color: #3399ff;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.magical-input:active:before {
  background-color: #1a75ff;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.magical-input::-webkit-file-upload-button {
  visibility: hidden;
}

.magical-image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 250px;
  margin-top: 48px;
  border-radius: 16px;
  cursor: pointer;
}

.magical-image {
  display: block;
  max-width: 100%;
  height: auto;
  filter: saturate(1.2) hue-rotate(-10deg) drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
  transition: transform 0.3s ease-in-out;
}

.magical-image-container:hover {
  transform: scale(1.1);
}

.magical-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: color-dodge;
  opacity: 0.8;
}

.magical-overlay::before,
.magical-overlay::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background-image: linear-gradient(45deg, #7f00ff, #0099ff, #00ffff);
  opacity: 0.5;
  transform: rotate(45deg);
  animation: magical-pulse 2s ease-in-out infinite;
}

@keyframes magical-pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
