.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.magical-input {
  border: none;
  color: transparent;
  cursor: pointer;
  font-size: 0;
  outline: none;
  position: relative;
  width: 200px;
}

.magical-input:before {
  content: 'Choose file';
  background-color: #e0e0e0;
  border-radius: 5px;
  color: #444;
  display: inline-block;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

.magical-input:hover:before {
  background-color: #b3b3b3;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.magical-input:focus:before {
  background-color: #3399ff;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.magical-input:active:before {
  background-color: #1a75ff;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.magical-input::-webkit-file-upload-button {
  visibility: hidden;
}
